---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My Awesome blog <span>subtitle</span></h2>
</BaseLayout>

<style>
	h2 {
		& span {
			background-color: red;
		}
	}
</style>