---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";

const {title} = Astro.props;
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
    <div class="page-header text-center">
        {title}
    </div>
</header>

